.nav {
  margin: 20px auto; 
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 15px;
  border: 2px solid #4CAF50; 
  border-radius: 10px;
  background-color: #E0F2F1; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.nav a {
  color: #4CAF50; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #133715; 
}